.u {
    &-font {
        &-fluid {
            font-family: $headingfont;
        }
    }

    &-logo-text-darker {
        color: darken($primary, 20%);
        font-size: 3rem;
        font-family: $headingfont;

        span {
            color: $white;
        }
    }

    &-logo-text-offwhite {
        color: $primary;
        font-size: 3rem;
        font-family: $headingfont;

        span {
            color: lighten($grey, 5%);
        }

        &-smaller {
            font-size: 1.75rem;
        }
    }

    &-logo-text {
        color: $primary;
        font-size: 3rem;
        font-family: $headingfont;

        span {
            color: $white;
        }

        &-smaller {
            font-size: 1.75rem;
        }
    }

    &-pull {
        &-right {
            float: right;
        }
    }

    &-padding {
        padding: 0.5rem;
    }

    &-font-size {
        &-sm {
            font-size: 1.3rem;
        }

        &-md {
            font-size: 1.6rem;
        }

        &-lg {
            font-size: 1.8rem;
        }
    }

    &-font-weight {
        &-300 {
            font-weight: 300;
        }

        &-400 {
            font-weight: 400;
        }

        &-500 {
            font-weight: 500;
        }
    }

    &-icon {
        color: $primary;
    }
}
