.form {
    &__label {
        font-size: 1.5rem;
        display: block;
    }

    &__group {
        float: left;
        width: 100%;
        margin-bottom: 1rem;

        &--half {
            width: 50%;
        }
    }

    &__input {
        width: 100%;
        border: 1px solid $offwhite;
        padding: 1rem;
        font: $fontweight $fontsize $fontfamily;

        &:hover, &:focus {
            border: 1px solid $primary;
            outline: none;
            appearance: none;
        }
    }

    &__submit {
        .button {
            width: 100%;
            cursor: pointer;
            font-size: 1.4rem;
        }
    }
}
