.section {
    padding: 5rem;
    margin-bottom: 10rem;

    &--light {
        background-color: $white;
        color: $offblack;
    }

    &--dark {
        background-color: $offblack;
        color: $white;
    }

    &--centered {
        text-align: center;
    }

    &--slim {
        padding: 2.5rem;
    }
}
