*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 62.5%;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    font: $fontweight $fontsize $fontfamily;
    margin: 0;
    position: relative;
    background-color: $offwhite;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    flex: 1;
}

.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: bottom;
    border: none;
}

::selection {
    background: rgba($offwhite, 0.75);
    color: $primary;
}
